GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
DATABASE_URL=
PGPASSWORD=
NEON_PROJECT_ID=
POSTGRES_PASSWORD=
POSTGRES_USER=
PGDATABASE=
POSTGRES_URL=
PGUSER=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=
DATABASE_URL_UNPOOLED=
PGHOST=
POSTGRES_URL_NON_POOLING=
POSTGRES_HOST=
POSTGRES_DATABASE=
PGHOST_UNPOOLED=
